html{background:black;}
#box{
	width:600px;
	height:auto;
	margin:0 auto;
	background-image:url(img/background.jpg);
	background-size:100%;
}
#top{
	width:600px;
	height:200px;
	background-image:url(img/titolo.png);
	background-size:auto 150px;
	background-position:center;
	background-repeat:no-repeat;
}
#menu{
	width:600px;
	height:30px;
	background:#b48154;
}
#corpo{
	width:600px;
	height:70%;
	background:transparent;
}
#footer{
	width:600px;
	height:100px;
	background:transparent;
}
