html{background:black;}
a:link{color:white; text-decoration:none;}
a:visited{color:white; text-decoration:none;}
#box{
	width:1000px;
	height:auto;
	margin:0 auto;
	background:#27514F;
	background-size:100%;
}
#top{
	width:100%;
	height:300px;
	background-image:url(img/sfondotop.jpg);
	background-size:100% auto;
	background-position:center;
	background-repeat:no-repeat;
	background-color:#696969;
}
#menu{
	width:100%;
	height:30px;
	background:grey;
	background-size:auto 30px;
}
.voce{
	line-height:30px;
	width:auto;
	height:28px;
	float:left;
	background:#C61D26;
	text-align:center;
	border-radius:10px;
	border:1px solid black;
	padding:0 30px;
	}
.voce:hover{
	background:#91B3B4;
	}
.sott_voce{
	visibility:hidden;
	}
.voce:hover + .sott_voce{
	line-height:30px;
	width:auto;
	height:28px;
	float:left;
	background:#C61D26;
	text-align:center;
	border-radius:10px;
	border:1px solid black;
	padding:0 60px;
	}
.sott_voce:hover{
	line-height:30px;
	width:auto;
	height:28px;
	float:left;
	background:#C61D26;
	text-align:center;
	border-radius:10px;
	border:1px solid black;
	padding:0 60px;
	}
#corpo{
	width:100%;
	height:70%;
	background:transparent;
}
#footer{
	width:100%;
	height:100px;
	background:transparent;
}
